In [18]:
import db
import ast

In [3]:
path = "dba.csv"
chave = ['ID', 'datetime', 'Temperature', 'Humidity', 'Solo-0', 'Solo-1', 'Solo-2', 'Solo-3', 'Solo-4']
valor = [1, '4/7/2019 1:32:48', 23.0, 93.0, 6, 19, 22, 8, 18]

In [4]:
banco = db.Database(path,chave,valor)

In [5]:
banco.gravar_dado()

**************************************************
		GRAVADO no CSV
**************************************************

In [6]:
### pegar dados pela serial

In [9]:
from serial import Serial

In [20]:
try:
 ser = Serial("/dev/ttyUSB0",9600)
except:
 ser = Serial("/dev/ttyUSB1",9600)

In [21]:
from datetime import datetime

In [22]:
def Tempo():
    hora = datetime.now().hour
    minute = datetime.now().minute
    second = datetime.now().second
    dia = datetime.now().day
    mes = datetime.now().month
    ano = datetime.now().year
    return "%s/%s/%s %s:%s:%s" % (dia,mes,ano,hora,minute,second)

In [23]:
def tratamento(msg):
    dicionario = ast.literal_eval(str(msg.split("\r\n")[0]))
    try:
           return dicionario
    except:
         pass

In [34]:
ID = 1
for p in range(3):
    text = ser.readline()
    sensor_data = tratamento(text)
    valores =  sensor_data.values()
    chaves = sensor_data.keys()
    valores.insert(0,ID)
    chaves.insert(0,"ID")
    valores.insert(1,Tempo())
    chaves.insert(1,"datetime")
    print chaves,valores
    banco = db.Database(path,chaves,valores)
    banco.gravar_dado()

['ID', 'datetime', 'Temperature', 'Humidity', 'Solo-0', 'Solo-1', 'Solo-2', 'Solo-3', 'Solo-4'] [1, '4/7/2019 1:44:9', 23.0, 93.0, 7, 21, 22, 7, 19]
**************************************************
		GRAVADO no CSV
**************************************************
['ID', 'datetime', 'Temperature', 'Humidity', 'Solo-0', 'Solo-1', 'Solo-2', 'Solo-3', 'Solo-4'] [1, '4/7/2019 1:44:9', 23.0, 92.0, 6, 21, 22, 7, 18]
**************************************************
		GRAVADO no CSV
**************************************************
['ID', 'datetime', 'Temperature', 'Humidity', 'Solo-0', 'Solo-1', 'Solo-2', 'Solo-3', 'Solo-4'] [1, '4/7/2019 1:44:9', 23.0, 92.0, 6, 20, 22, 7, 18]
**************************************************
		GRAVADO no CSV
**************************************************

In [29]:
path

'dba.csv'

In [32]:
banco = db.Database(path,chaves,valores)

In [33]:
banco.gravar_dado()

**************************************************
		GRAVADO no CSV
**************************************************

In [46]:
valores

[1, '4/7/2019 1:44:9', 23.0, 92.0, 6, 20, 22, 7, 18]

In [76]:
import pandas as pd

In [86]:
df = pd.read_csv("dba.csv")
df.head()

,ID,datetime,Temperature,Humidity,Solo-0,Solo-1,Solo-2,Solo-3,Solo-4
0,1,4/7/2019 0:52,23.0,93.0,5,37,21,8,20
1,1,4/7/2019 1:16:43,23.0,92.0,7,23,21,7,19
2,1,4/7/2019 1:16:48,23.0,91.0,7,23,25,7,19
3,1,4/7/2019 1:32:48,23.0,93.0,6,19,22,8,18
4,1,4/7/2019 1:32:48,23.0,93.0,6,19,22,8,18

In [90]:
df.describe()

,ID,Temperature,Humidity,Solo-0,Solo-1,Solo-2,Solo-3,Solo-4
count,509.0,509.0,509.000000,509.000000,509.000000,509.000000,509.000000,509.000000
mean,1.0,23.0,92.834971,5.202358,33.518664,22.092338,7.915521,18.003929
std,0.0,0.0,0.494333,0.889746,6.376179,0.918596,1.265352,0.509732
min,1.0,23.0,91.000000,4.000000,18.000000,21.000000,6.000000,17.000000
25%,1.0,23.0,93.000000,5.000000,35.000000,22.000000,7.000000,18.000000
50%,1.0,23.0,93.000000,5.000000,36.000000,22.000000,8.000000,18.000000
75%,1.0,23.0,93.000000,6.000000,37.000000,22.000000,8.000000,18.000000
max,1.0,23.0,93.000000,11.000000,39.000000,26.000000,12.000000,20.000000

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 509 entries, 0 to 508
Data columns (total 9 columns):
ID             509 non-null int64
datetime       509 non-null object
Temperature    509 non-null float64
Humidity       509 non-null float64
Solo-0         509 non-null int64
Solo-1         509 non-null int64
Solo-2         509 non-null int64
Solo-3         509 non-null int64
Solo-4         509 non-null int64
dtypes: float64(2), int64(6), object(1)
memory usage: 35.9+ KB

In [95]:
df_1 = df.drop(columns=['ID','Temperature','Humidity'])

In [97]:
df_1.head()

            datetime  Solo-0  Solo-1  Solo-2  Solo-3  Solo-4
0      4/7/2019 0:52       5      37      21       8      20
1   4/7/2019 1:16:43       7      23      21       7      19
2   4/7/2019 1:16:48       7      23      25       7      19
3   4/7/2019 1:32:48       6      19      22       8      18
4   4/7/2019 1:32:48       6      19      22       8      18

In [98]:
old_df = pd.read_csv("../v1/plantacao.csv")

In [106]:
df_1['datetime']

0          4/7/2019 0:52
1       4/7/2019 1:16:43
2       4/7/2019 1:16:48
3       4/7/2019 1:32:48
4       4/7/2019 1:32:48
5       4/7/2019 1:40:44
6        4/7/2019 1:44:9
7        4/7/2019 1:44:9
8        4/7/2019 1:44:9
9        4/7/2019 2:7:46
10       4/7/2019 2:7:51
11       4/7/2019 2:7:56
12        4/7/2019 2:8:1
13        4/7/2019 2:8:6
14       4/7/2019 2:8:11
15       4/7/2019 2:8:16
16       4/7/2019 2:8:21
17       4/7/2019 2:8:26
18       4/7/2019 2:8:31
19       4/7/2019 2:8:36
20       4/7/2019 2:8:41
21       4/7/2019 2:8:46
22       4/7/2019 2:8:52
23       4/7/2019 2:8:57
24        4/7/2019 2:9:2
25        4/7/2019 2:9:7
26       4/7/2019 2:9:12
27       4/7/2019 2:9:17
28       4/7/2019 2:9:22
29       4/7/2019 2:9:27
             ...
479     4/7/2019 2:47:28
480     4/7/2019 2:47:33
481     4/7/2019 2:47:38
482     4/7/2019 2:47:43
483     4/7/2019 2:47:48
484     4/7/2019 2:47:53
485     4/7/2019 2:47:58
486      4/7/2019 2:48:3
487      4/7/2019 2:48:8
488     4/7/2019 2:48:13
489     4/7/2019 2:48:18
490     4/7/2019 2:48:23
491     4/7/2019 2:48:28
492     4/7/2019 2:48:33
493     4/7/2019 2:48:38
494     4/7/2019 2:48:44
495     4/7/2019 2:48:49
496     4/7/2019 2:48:54
497     4/7/2019 2:48:59
498      4/7/2019 2:49:4
499      4/7/2019 2:49:9
500     4/7/2019 2:49:14
501     4/7/2019 2:49:19
502     4/7/2019 2:49:24
503     4/7/2019 2:49:29
504     4/7/2019 2:49:34
505     4/7/2019 2:49:39
506     4/7/2019 2:49:44
507     4/7/2019 2:49:49
508     4/7/2019 2:49:54
Name: datetime, Length: 509, dtype: object

In [100]:
import model

In [102]:
modelo = model.Model([6,21,11,8])

TypeError: __init__() takes exactly 3 arguments (2 given)